AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
SortIncludes: false
ColumnLimit: 80
IndentWidth: 2
