name: Release

description: |
  Builds and uploads binaries to the releases page.

  Each matrix here contains information related to making the build
  for the os and compiler. Platform here is used to ensure the file
  uploaded to the release page is correlates with the download helper
  in `telescope-fzf-native/download_library.lua#get_platform`.


on:
  push:
    tags:
      - "*"
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unix:
    name: unix build

    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux
            compiler: gcc
          - os: ubuntu-22.04
            platform: linux
            compiler: clang
          - os: macos-12
            platform: macos
            compiler: gcc
          - os: macos-12
            platform: macos
            compiler: clang

    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v3


      - uses: ./.github/actions/compile-unix
        with:
          compiler: ${{ matrix.compiler }}


      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.platform }}-${{matrix.compiler}}
          path: build/*.so

  windows:
    name: windows build

    strategy:
      matrix:
        include:
          # TODO: add in clang build too ?
          - os: windows-2019
            # correlates to the get_platform in download_library
            platform: win32
            # TODO: specify actual correct compiler name here for windows
            compiler: cc

    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v3

      - uses: ./.github/actions/compile-windows

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.platform }}-${{ matrix.compiler }}
          path: build/*.dll

  release:
    needs:
      - windows
      - unix

    name: Release binaries

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Download artifacts from previous jobs
        id: artifacts
        uses: ./.github/actions/prepare-artifacts

      - name: Upload release binaries
        uses: ./.github/actions/release-binaries
        with:
          source: ${{ steps.artifacts.outputs.staging_area }}
          is_development_release: ${{ !startsWith(github.ref, 'refs/tags') }}
          is_production_release: ${{ startsWith(github.ref, 'refs/tags') }}
          development_tag: dev
          development_title: "dev (unstable)"
          production_tag: ${{ github.ref_name }} # if we only consider tagged runs to be prod, then this will be the tag name
          production_title: "Release: ${{ github.ref_name }}"
